*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 1.4;
    background-color: #191919;
    color: #ecf0f1;
    --pad: 3px;
    --margin: 5px;
    padding-top: calc(var(--pad) * 20);
}
.bio {
    color:rgb(19, 225, 91);
    width: 1000px;
    font-family: serif;
    font-size: 20px;
}

.wrapper {
    margin: 0 auto;
    width: 85%;
    max-width: 1500px;
    padding: calc(var(--pad) * 5);
}

.intro {
    font-size: 1.25rem;
    line-height: 1.6;
}

.name {
    font-size: 2rem;
    font-weight: 700;
    margin-top: calc(var(--margin) * 1);
    color: #f1c40f;
}

@keyframes blink {
    100%{ color: #191919; }
}

.underscore {
    color: #f1c40f;
    animation: blink 1s infinite linear;
}

.short-bio {
    font-size: 1.25rem;
    line-height: 1.6;
    margin-top: calc(var(--margin) * 5);
    width: 50%;
}

.short-bio a, .short-bio strong {
    color: #f1c40f;
    text-decoration: none;
}

.Education {
    color: #e83a3a;
    margin-top: calc(var(--margin) * 9);
}

h2 {
    color: white;
    display: block;
    font-size: 1.8rem;
    font-weight: 600;
    border-bottom: 4px solid #f1c40f;
    padding-bottom: calc(var(--pad) * 3);
}

.Education-container {
    margin-top: calc(var(--margin) * 5);
}

.Education-item {
    display: inline-block;
    width: 40%;
    max-width: 300px;
    margin-right: calc(var(--margin) *3);
    margin-bottom: calc(var(--margin) *5);
    padding: calc(var(--pad) *5);
    background-color: #393232;
    vertical-align: bottom;
    color: rgb(215, 95, 95);
    text-decoration: none;
    transition: .3s;
}

@keyframes bounce {
    50%{ transform: scale(1.05); }
    70%{ transform: scale(1.02); }
    100%{ transform: scale(1.05); }
}

.Education-item:hover {
    background-color: #434343;
    animation: bounce .3s linear;
    transform: scale(1.05);
}

.Education-item strong {
    font-size: 0.95rem;
    display: block;
    margin-bottom: calc(var(--margin) *2);
}

.Education-item span {
    font-size: 0.90rem;
    display: block;
    height: 60px;
    overflow: hidden;
}

.contact-me {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    margin: 0 auto;
    margin-top: calc(var(--margin) *5);
}

.contact-me a {
    color: white;
    flex: 1;
    text-decoration: none;
    border: 1px solid #676767;
    text-align: center;
    padding: calc(var(--pad) *2);
    font-weight: 600;
    text-overflow: ellipsis;
    overflow: hidden;
    max-height: 35px;
}

.contact-me a:hover {
    background-color: #434343;
    color: #f1c40f;
}

.contact-me a i {
    color: #f1c40f;
}

@media (max-width: 1170px) {
    .wrapper {
        width: auto;
    }
}

@media (max-width: 990px) {
    .wrapper {
        background-position: 60vw calc(var(--pad) * 40);
        width: auto;
    }
}

@media (max-width: 850px) {
    .wrapper {
        width: auto;
        background-position: 50vw calc(var(--pad) * 55);
    }
}

@media (max-width: 700px) {
    @media (max-width: 990px) {
        .wrapper {
            background: none;
            width: auto;
        }
    }

    .short-bio {
        width:auto;
    }

    .Education-item {
        display: block;
        width: 100%;
        max-width: none;
    }

    .contact-me {
        flex-direction: column;
    }
}
